.pythia .settings {
    .col-md-6 {
        max-width: 460px;
        h2 {
            margin-bottom: 10px;
            text-align: center;
        }
        .group-label {
            display: flex;
            border-bottom: 1px solid $border;
            align-items: center;
            min-height: 60px;
            padding: 5px 0px;
            label {
                color: $color-label;
                font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                width: 200px;
                text-align: left;
                margin-bottom: 0px;
                text-transform: capitalize;
            }
            span {
                color: white;
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                width: 100%;
                margin-left: 10px;
            }
            .form-control {
                width: 60px;
            }
        }
    }
}
