/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............
$color-dark-blue: #0E1B26;
$color-label: #8398AA;
$color-input: #32373C;
$color-red: #e51a2e;
$color-error: #e51a2e;
$color-dark-grey: #0E1B26;
$color-light-grey: #bbbbbb;
$regent-gray: #8f9aac;
$label-grey: #7E8993;
$green: #19d69b;
$green-blinding: #67DE6F;
$selago: #f5f8fe;
$border: #2E4757;
$btn-dark: #1A2B36;
// Fonts
//...............
$primary-font: "Open Sans",
Helvetica,
Arial,
sans-serif;
$title-font: 'Source Sans Pro',
sans-serif;
$secondary-font: "Arvo",
Georgia,
Times,
serif;
$font-size: 16px;
//fonts-type
$font_thin:'';
$font_light: '300';
$font_regular:'400';
$font_smbold:'600';
$font_bold:'700';